.DS_Store
.env

releases

admin/node_modules
admin/build
admin/.svelte-kit
admin/.vscode
admin/package
admin/vite.config.js.timestamp-*
admin/vite.config.ts.timestamp-*

backend/config/initial_db/*
!backend/config/initial_db/attendance_sync.sql.structure
!backend/config/initial_db/initial_db.sql.structure
backend/photos/students/*
!backend/photos/students/id_placeholder.jpg
!backend/photos/students/index.html
backend/env/*
!backend/env/.env.php.tmp
!backend/env/.env_remote.php.tmp

terminal/src/.venv
terminal/src/lib/__pycache__
terminal/src/lib/fromDB